<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vlad's Tech Blog</title>
  {{!-- <link rel="stylesheet" href="/css/style.css"> --}}
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a href="/">VLAD'S TECH BLOG!</a>
      </h1>
      <nav>
        <a href="/">HOME</a> |
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">MY DASHBOARD</a> |
        <button class="no-button" id="logout">LOGOUT</button>
        {{else}}
        <a href="/login">MY DASHBOARD</a> |
        <a href="/login">LOGIN</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
